.wrapper{
    padding: 60px 9% 80px;
    background-color: #FFECAF;
}

h1{
    font-family: "Sen";
    font-size: 80px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.48px;
    margin-bottom: 145px;
}

.event_container{
    background-color: #FFFFFF;
    padding: 40px 7%;
    position: relative;
}
.eachEvent{
    justify-content: space-between;
    position: relative;
    margin: 0 30px 80px;
}

.eachEvent img{
    width: 100%;
}

.credit{
    color: #000000;
    font-weight: bold;
    background: #fff;
    position: absolute;
    content: '';
    right: 20px;
    bottom: 30px;
    border-radius: 10px;
}

ul.contemts{
    width: 110%;
    padding: 20px 10px;
    list-style: none;
    border: solid 1px #000000;
    background: #D2FFEA;
    border-radius: 20px;
    display: flex;
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50px);
}

ul.contemts li{
    color: #000000;
    border-left: 1px solid #000000;
    padding: 0 10px;
}
ul.contemts li:first-child{
    border: none;
}

ul.contents{
    list-style: none;
    border: solid 1px #000000;
}
ul.event{
    list-style: none;
    padding-left: 0;
}
ul.event li{
    font-size: 24px;
    margin-bottom: 45px;
}

.host{
    width: 520px;
    padding: 20px 30px;
    list-style: none;
    border: solid 1px #000000;
    background: #D2FFEA;
    border-radius: 20px;
    display: flex;
    margin-bottom: 75px;
}

.host img{
    margin-right: 30px;
}

.host li{
    width: 100%;
    border-left: 2px solid #000000;
    padding-left: 40px;
    text-align: center;
}
.event li p{
    font-size: 16px;
    text-align: left;
    margin-bottom: 0;
}

a{
    text-decoration: none;
}

h2{
    font-family: "Sen";
    font-size: 40px;
    letter-spacing: 0.48px;
    margin-bottom: 30px;
}

.event_contents{
    padding: 30px 40px;
    border: 1px solid #000000;
    border-radius: 30px;
}
.event_contents td{
    padding-left: 20px;
}

.fees{
    display: flex;
    margin-bottom: 150px;
}

.fees_detail{
    width: 40%;
}

.fees table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 55%;
    margin-left: auto;
}
.fees table tr{
    border-bottom: solid 1px #13BED0;
}
.fees table tr:last-child{
    border-bottom: none;
}
.fees table th,.fees table td{
    border-right: solid 1px #13BED0;
}
.fees table th:last-child,.fees table td:last-child{
    border-right: none;
}
.fees table th,.fees table td{
    text-align: center;
    padding: 15px 0;
}
.fees table th{
    background: #FFF0C2;
    border-radius: 40px;
}