.wrapper{
    padding: 100px 9% 80px;
    background-color: #FFECAF;
}

.events{
    overflow-x: scroll;
    display: flex;
    background-color: #FFFFFF;
    padding: 0 90px;
    width: 100%;
}
.eachEvent{
    justify-content: space-between;
    margin: 80px 30px;
    position: relative;
}

ul.event{
    list-style: none;
}
ul.contemts{
    width: 80%;
    padding: 20px 10px;
    list-style: none;
    border: solid 1px #000000;
    background: #C4C4C4;
    border-radius: 20px;
    display: flex;
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50px);
}

.eventIntro{
    font-family: "Sen";
    margin-left: 20px;
    margin-bottom: 30px;
    letter-spacing: 0.1em;
}

a{
    text-decoration: none;
}

ul.contemts li{
    color: #000000;
    border-left: 1px solid #000000;
    padding: 0 10px;
}
ul.contemts li:first-child{
    border: none;
}

.search_container{
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 60px;
}
.search_container input[type="text"]{
    border: 2px solid #999;
    padding: 3px 50px 3px 20px;
    border-radius: 30px;
    height: 2.5em;
    width: 600px;
    overflow: hidden;
    font-size: 1.3em;
}
.search_container input[type="text"]:focus {
    outline: 0;
}
.search_container button{
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #3879D9;
    outline : none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.search_container button::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    top: calc(50% - 9px);
    right: calc(50% + 30px);
    border-radius: 50%;
    box-shadow: 0 0 0 2px #000000;
}
.search_container button::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 6px;
    top: calc(50% + 6px);
    right: calc(50% + 26px);
    border-top: solid 2px #000000;
    transform: rotate(45deg);
}

h1{
    padding-top: 80px;
    width: 45%;
    padding-left: 30px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    letter-spacing: 0.48px;
    color: #455A64;
}
h2{
    width: 360px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    letter-spacing: 0.48px;
    color: #FFFFFF;
    margin: 40px 0;
}

.top_img{
    width: 100%;
    margin-bottom: 80px;
}

ul.contents{
    width: 80%;
    padding: 20px 10px;
    list-style: none;
    border: solid 1px #000000;
    background: #C4C4C4;
    border-radius: 20px;
    display: flex;
    content: "";
    bottom: 0;
    left: 50%;
}

ul.contents li{
    color: #000000;
    border-left: 1px solid #000000;
    
}
ul.contents li:first-child{
    border: none;
}