{% extends "header.html" %}
{% load static %}

{% block contents %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<p class="begin"></p>
<div class="form-wrapper">
    <h1>認証コード入力</h1>
    <p>{{ mail }}に送付した認証コードを入力してください。</p>
    <form action="forgotPasswordUse-m" method="post" class="login"> {% csrf_token %}
        <div class="form-item">
            <label for="password"></label>
            <input type="password" name="password" required="required" placeholder="認証コード" required></input>
        </div>
            <div class="button-panel">
            <input type="submit" class="button" title="login" value="次へ"></input>
        </div>
    </form>
    <div class="form-footer">
        <p><a href="/forgotPassword">認証コードが届かないとき</a></p>
    </div>
</div>
{% endblock %}