{% extends "header.html" %} {% block contents %}


<form action="forgotPassword-m" method="post" enctype="multipart/form-data">{% csrf_token %}
        <h2>パスワードの再設定</h2>
        <p class="desc">
            登録されているメールアドレスをご入力のうえ、「送信」ボタンを押してください。<br>
            ご入力いただきましたメールアドレス宛に新規パスワード設定のための認証コードを送付いたします。
        </p>
        <div class="form2clm">
            <label>メールアドレス</label>
            <div class="inputs emailinputs">
                <div class="passwordinput">
                    <input type="email" name="email" placeholder="メールアドレス" value="" required>
                </div>

                <button class="nextbtn"><span>送信する<span></span></span></button>

                <div class="btn prev-btn"><button type="button" onclick="javascript:history.back();">戻る</button></div>
            </div>
        </div>
</form>
{% endblock %}