{% load static %}
<html lang="ja">
    <head>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href= "{% static 'favicon.ico' %}" >
        <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-touch-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'apple-touch-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-touch-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-touch-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-touch-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-touch-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'apple-touch-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon-180x180.png' %}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'header.css' %}">
        <link rel="stylesheet" href="{% static 'font.css' %}">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.10.3/babel.min.js"></script>

        <script src="https://www.googletagmanager.com/gtag/js?id=G-3SMLQMXKL7"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-3SMLQMXKL7');
        </script>

    
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

        <!--マップ関連-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

        <title>HANKEN|{{ name }}</title>
    </head>
    <body>
        <header>
            <ul>
                <li class="left p"><a href="/"><img src="{% static 'logo_large.png' %}"></a></li>
                {% if name != "host" %}
                    <li class="rights"><a href="/">Home</a></li>
                {% else %}
                    <li class="rights"><a href="/homehost">Home</a></li>
                {% endif %}
                <li class="right"><a href="/lp"> Organizer</a></li>
                {% if user == "" %}
                    <li class="right"><a href="/login">Login</a></li>
                {% else %}
                    {% if name != "host" %}
                        <li class="right"><a href="/mypage">Mypage</a></li>
                        <li class="right"><a href="/myticket">Myticket</a></li>
                        <li class="right"><a href="/myevent">Myevent</a></li>
                    {% endif %}
                    <li class="right"><a href="/logout">Logout</a></li>
                    <li class="right"><a href="/myevent">{{ user }}</a></li>
                {% endif %}
            </ul>
        </header>
        <div class="main">
            {% block contents %}
            {% endblock %}
            {% if name == "Login" or name == "host" %}
            {% else %}
        </div>
        <footer>
            <ul>
                <li>
                    <a href="/terms" target="_blank" rel="noopener noreferrer"><p>利用規約</p></a>
                    <a href="/privacy" target="_blank" rel="noopener noreferrer"><p>プライバシーポリシー</p></a>
                    <a href="/contactUs" target="_blank" rel="noopener noreferrer"><p>お問い合わせ</p></a>
                </li>
                <li>
                    <p>入場確認専用アプリ</p>
                    <img src="{% static 'app_qr.png' %}">
                    <a href='https://play.google.com/store/apps/details?id=com.node.hanken_native&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Google Play で手に入れよう' src='https://play.google.com/intl/en_us/badges/static/images/badges/ja_badge_web_generic.png'/></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC4-zaNKpHZIAX0fnGhfnluQ"><img src="{% static 'YouTube.png' %}"></a>
                </li>
                <li>
                    <a href="/"><img src="{% static 'logo_large.png' %}" /></a><p>©2022 HANKEN all rights reserved</p>
                </li>
            </ul>
        </footer>
        {% endif %}
        <style>
        </style>
    </body>
</html>