{% extends "header.html" %}
{% load static %}

{% block contents %}

<link rel="stylesheet" href="{% static 'index.css' %}">
<div class="overlay">
    <div class="btn_area">
    <iframe width="100%" height="100%"  src="https://www.youtube-nocookie.com/embed/xHtXZEfri_U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <button>閉じる</button>
    </div>
</div>
<h1>HANKEN</h1>
<img class="top_img" src="{% static 'top_img.png' %}" alt="">
<div class="wrapper">
    <h2>event</h2>
    <div id="search"></div>
    <script type="text/babel">
        class App extends React.Component{
            constructor(props) {
                super(props);
                this.state = {search:"",contents:[]};
            }
            handleChange = (e) =>{
                this.setState({search:e.target.value})
            }
            handleSearch = (e) =>{
                if (this.state.search === ""){
                    return
                }
                const url = '/eventsearch?eventname='
                let request = new XMLHttpRequest();
                request.open("GET", url+this.state.search, true)
                request.onreadystatechange = function() {
                    if (request.readyState == 4 && request.status == 200) {
                        const j = JSON.parse(decodeURI(request.responseText))
                        if (j['length'] == 0){
                            this.setState({contents:[]})
                        }else{
                            this.setState({contents:j['eventlist']})
                        }
                    }
                }.bind(this)
                request.send("")
            }
            render = () => {
                const event = this.state.contents.map((number) =>
                    <li>
                        <a href={ '/event?id='+number.id }>
                        <ul class="contents">
                            <li>イベント名:{ number.name }</li>
                            <li>開催日　  :{ number.date }</li>
                            <li>開催場所　:{ number.place }</li>
                        </ul>
                        </a>
                    </li>
                );
                return (
                    <div>
                        <div class="search_container">
                            <input type="text" value={this.state.search} onChange={this.handleChange} />
                            <button onClick={this.handleSearch}></button>
                        </div>
                        <ul class="event">
                            { event }
                        </ul>
                    </div>
                )
            }
        };
        class Render extends React.Component{
            render = () =>{
                return (
                    <div>
                        <App />
                    </div>
                );
            }
        };
        ReactDOM.hydrate(
                <Render />,
                document.getElementById('search')
        );
    </script>
    <h3 class="eventIntro">おすすめのイベント</h3>
    <div class="events">
        {% for event in poplist %}
        <div class="eachEvent">
            <a href="/event?id={{ event.id }}">
            <img src="https://media.discordapp.net/attachments/946347637135769610/956417603117654076/event1.png" alt="イベント画像">
            <p class="credit">"Illustration by Freepik Storyset"</p>
            <ul class="contemts">
                <li>開催日 :　{{ event.date }}</li>
                <li>イベント名 :　{{ event.name }}</li>
                <li>開催場所 :　{{ event.place }}</li>
            </ul>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
    $(function(){
    $(".overlay").show();
    $.cookie('btnFlg') == 'on'?$(".overlay").hide():$(".overlay").show();
    $(".btn_area button").click(function(){
    $(".overlay").fadeOut();
    $.cookie('btnFlg', 'on', { expires: 30,path: '/' }); //cookieの保存
    });
    });
</script>
{% endblock %}