{% extends "header.html" %}
{% load static %}

{% block contents %}
<div style="text-align: center;">
<img src="{% static 'title.png' %}" style="width: auto;height: 600px;">

<!--各章へのスクロールリンク-->

<p></p>
<ul style="list-style: none;display: flex;margin-left: 35%;">
    <li style="float: left;">
        <ul style="list-style: none;">
            <li><a href="#nfc"><img src="{% static 'nfcic.png' %}" style="width: 60px;height: auto;"></a></li>
            <li>nfcについて</li>
        </ul>
    </li>
    <li style="float: left;">
        <ul style="list-style: none;">
            <li><a href="#advertisement"><img src="{% static 'ad.png' %}" style="width: 60px;height: auto;"></a></li>
            <li>広告について</li>
        </ul>
    </li>
    <li style="float: left;">
        <ul style="list-style: none;">
            <li><a href="#mail"><img src="{% static 'mail.png' %}" style="width: 60px;height: auto;"></a></li>
            <li>メールについて</li>
        </ul>
    </li>
    <li style="float: left;">
        <ul style="list-style: none;">
            <li><a href="#payment"><img src="{% static 'payment.png' %}" style="width: 60px;height: auto;"></a></li>
            <li>決済について</li>
        </ul>
    </li>
</ul>

<a name="nfc"></a>
<h2>ご利用の流れ</h2>
<img src="{% static 'Line.png' %}">
<h2>NFC</h2>
<img src="{% static 'nfc.png' %}" style="width: auto;height: 400px;">
<p>
NFCを入場チケットの代わりにし、身分確認をNFCを持っていることで代理とする。
</p>
<a name="advertisement"></a>
<p>
チケット転売や入場管理に割くコストを会場運営に割くことができイベントの質や顧客体験を上げることができる。
</p>
<p>
同様システムでQRコードで入場の代わりとするものもあるが、NFCを利用することで1人あたりの入場時間を平均7秒短縮
</p>
<a name="mail"></a>
<h2>広告</h2>
<img src="{% static 'ads.png' %}" style="width: auto;height: 400px;">
<p>
    ホームの人気のイベント5選の上に広告を表示させる機能を検討中。これによりイベント参加者へのアプローチを量ることができます。
</p>
<a name="payment"></a>
<h2>メールでのダイレクト</h2>
<p>
    アカウント登録時にメールの送信許可を得ているため広告メールを送信することができる。またイベントの人気が高い場合メールに追加。
</p>
<h2>決済について</h2>
<a href="https://pay.jp/">Pay.jp</a><p>を導入することによりセキュアな決済を可能に</p>

<h2>無料のイベントももちろんOK</h2>
<p>
たとえ無料のイベントであっても問題なく開催することができます！
</p>
<p>
また、イベント開催のために特別使用するものはNFCを読み取るの事のできるスマートフォンだけです
</p>
</div>
{% endblock %}