{% extends "header.html" %}

{% block contents %}

<h2 class="begin">
    マイページ
</h2>

<ul class="user">
    <li>
        <h2>
            ユーザーid
        </h2>
        <p>
            {{ userlist.id }}
        </p>
    </li>
    <li>
        <h2>
            名前
        </h2>
        <p>
            {{ userlist.name }}
        </p>
    </li>
    <li>
        <h2>
            電話番号
        </h2>
        <p>
            {{ userlist.phone }}
        </p>
    </li>
    <li>
        <h2>
            生年月日
        </h2>
        <p>
            {{ userlist.bath }}
        </p>
    </li>
</ul>
<button type=“button” onclick="location.href='/editingmypage'">編集</button>

<style>
    .user{
        list-style: none;
        width: 50%;
    }
    .user li{
        border: solid 1px #000000;
    }
</style>

{% endblock %}