{% extends "header.html" %} 
{% load static %}

{% block contents %}
<link rel="stylesheet" href="{% static 'myticket.css' %}">

<h2 class="begin">
    マイチケット
</h2>

<ul class="event">
    {% for list in ticketlist %}
    <li>
        <a href="/ticket?id={{ list.id }}">
            <ul class="contemts">
                <li>{{ list.name }}</li>
                <li>{{ list.place }}</li>
                <li>{{ list.date }}</li>
                <li>{{ list.seat }}</li>
            </ul>
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}