<html>
<h2>プライバシーポリシー</h2>
<p>制定日:2022/03/24</p>
<h3>個人情報の定義</h3>
<p>
このプライバシーポリシーにおいて、個人情報とは生存する個人に関する情報であって、以下のいずれかに該当するものをいいます。

当該情報に含まれる氏名、生年月日その他の記述等｛文書、図画もしくは電磁的記録（電子的方式、磁気的方式そのほか人の知覚によって認識することができない方式により作られた記録をいう）に記載され、もしくは記録され、または音声、動作その他の方法を用いて表された一切の事項（個人識別符号を除く）をいう｝により、特定の個人を識別できるもの（他の情報と容易に照合でき、それにより特定の個人を識別できるものを含む）。
個人識別符号が含まれるもの。
</p>
<h3>個人情報の管理</h3>
<p>
個人情報の保護に関する運用要領を定めるとともに、個人情報の管理責任者を置いて適切に管理します。
</p>
<h3>個人情報の収集</h3>
<p>
個人情報の収集に際しては、あらかじめ利用目的を定め、お知らせするとともに、その目的の達成に必要な範囲内で、適正な方法により収集、利用いたします。また、「個人情報の保護に関する法律」（平成15年法律第57号。以下「個人情報保護法」とします）に定める場合を除き、あらかじめ本人の同意を得ることなく、収集した個人情報を利用目的以外には使用せず、利用目的達成後には当該個人情報を遅滞なく消去するよう努めるものといたします。
</p>
<h3>個人情報の利用目的</h3>
<p>
当グループは、以下に示す利用目的のために、皆様から個人情報をご提供いただく場合があります。下記以外の目的で個人情報を収集・利用する際は、前項に則り、利用目的をお知らせしたうえで収集いたします。
<ul>
 <li>ご登録いただいた会員様向けサービスの提供のため</li>
 <li>アンケート、イベント等にご協力いただいた方へのご報告のため</li>
 <li>ダイレクトメールや電子メール等による、情報の提供のため</li>
 <li>上記の目的に関連する業務の遂行のため</li>
</ul>
当サービス等においては、ご利用者様ご自身の判断により、当グループに対して個人情報を提供するか否かを選択できます。
</p>
<h3>個人情報の第三者提供</h3>
<p>
ご本人から承諾を得たとき、個人情報保護法その他の法令等に基づく場合、または次のいずれかに該当する場合を除き、個人情報を第三者に提供することはありません。

<ul>
<li>人の生命、身体、または財産の保護のために個人データの第三者提供が必要である場合であって、本人の同意を得ることが困難である場合</li>
<li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を取ることが困難である場合</li>
<li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合</li>
<li>有料サービス利用や商品注文等に伴うクレジットカード等の決済手続きに際してユーザーの銀行口座やクレジットカード等の正当性を金融機関、カード会社等に確認する場合</li>
<li>また、ご本人から承諾を得たとき、または個人情報保護法で認められている場合を除き、個人情報を海外の第三者に提供することはありません。</li>
</ul>
</p>
<h3>個人情報の提供及び受領時の記録等</h3>
<p>
個人情報を第三者（国の機関、地方公共団体、独立行政法人等及び地方独立行政法人を除き、以下、本項において同様とします）に提供し、または第三者から受領する場合は、個人情報保護法に従って、必要な事項について記録を作成するとともに、個人情報保護委員会規則で定められた期間保存いたします。
</p>

<h3>個人情報の開示・訂正・利用停止又は消去</h3>
<p>
ご本人から個人情報の内容の開示・訂正・利用停止又は消去の請求があった場合は、個人情報保護法に基づき適切・迅速に対応いたします。詳しくは「保有個人情報の開示・訂正・利用停止又は消去について」をご覧ください。
</p>
<h3>プライバシーポリシーの変更</h3>
<p>
当グループでは、社会情勢の変化、技術の進歩、個人情報保護法の改正等に応じ、事前の予告なくプライバシーポリシーを変更することがあります。
</p>
</html>