{% extends "header.html" %}
{% load static %}

{% block contents %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<p class="begin"></p>
<div class="form-wrapper">
    <h1>パスワードの再設定</h1>
    <form action="resetPassword-m" method="post" class="login"> {% csrf_token %}
        <div class="form-item">
            <label for="password"></label>
            <input type="password" name="password" required="required" placeholder="Password" required></input>
        </div>
        <div class="form-item">
            <label for="password"></label>
            <input type="password" name="rpassword" required="required" placeholder="もう一度入力してください" required></input>
        </div>
            <div class="button-panel">
            <input type="submit" class="button" title="login" value="完了"></input>
        </div>
    </form>
    <div class="form-footer">
    </div>
</div>
{% endblock %}